<h2 class="section-title">
    CARE AND HEALTH FOR <br /> YOU CACTUS
</h2>

<div class="care-container container grid">
    <img src="images/care-cactus.png" alt="Cactus image">

    <ul class="care-list">

        @foreach(string tip in careTips)
         {
            <li class="care-item">
                <i class="ri-checkbox-fill"></i>
                <p>
                    @tip
                </p>
            </li>
         } 
               
    </ul>
</div>

@code {
    private List<string> careTips = new List<string>
    {
        "In cold times, add water once a month and during the summer do it when the soil is very dry.",
        "Have good drainage so that the cactus does not accumulate water.",
        "Place your cactus or succulent in a location with indirect light.",
        "Do not water more than necessary, as it can accumulate too much water and the plant will rot.",
        "Do not expose to high temperatures, as succulent plants are not fans of extremes."
    };
}

