@page "/#home"

<div class="home-container container grid">
        <img src="images/home-cactus.png" alt="cactus-image"/>

        <div class="home-data">
            <h1>
                ORNAMENTAL<br/>
                <span>PLANTS</span> FOR <br/>
                YOUR HOME <br/>
            </h1>

            <p>
                We design ornamental plants for your home
                in-house for an original style and quality
                you won't find anywhere else.
            </p>

            <div class="home-buttons">
                <a href="#" class="button">
                    <span>
                        <i class="ri-arrow-right-line"></i>
                    </span>
                    GO TO SHOP
                </a>

                <a href="#" class="button-link">MORE DETAILS</a>
            </div>
        </div>
    </div>

@code {

}
