<div class="new-container container grid">
    <div class="new-data">
        <h2 class="section-title">
            NEW PLANTS FOR <br> YOUR HOME
        </h2>

        <p class="new-description">
            Select new ornamental plants for home decoration
            and obtain an atmosphere of harmony and freshness.
        </p>
    </div>

    <div class="new-content grid">
        <article class="new-card">
            <img src="images/new-cactus-1.png" alt="Cactus one">
            <h2 >Gymnocalycium Cactus</h2>
        </article>

        <article class="new-card">
            <img src="images/new-cactus-2.png" alt="Cactus two">
            <h2>Lily Pad Succulent</h2>
        </article>

        <article class="new-card">
            <img src="images/new-cactus-3.png" alt="Cactus three">
            <h2>Rebutia Cactus</h2>
        </article>
    </div>
</div>

@code {

}
