@page "/"

<header class="header">
    <NavBar />
</header>

<main class="main">
    <section class="home section" id="home">
        <Home />
    </section>

    <section class="new section" id="new">
        <NewCactus />
    </section>

    <section class="shop section" id="shop">
        <h2 class="section-title">THE BEST PLANTS</h2>

        <div class="shop-container container grid">
            <ShopCard ImagePath="images/shop-cactus-1.png"
                      ImageAlt="Cactus for sale 1"
                      CardTitle="Gymnocalycium <br /> Cactus"
                      CardPrice="$15" />

            <ShopCard ImagePath="images/shop-cactus-1.png"
                      ImageAlt="Cactus for sale 1"
                      CardTitle="Gymnocalycium <br /> Cactus"
                      CardPrice="$15" />

            <ShopCard ImagePath="images/shop-cactus-1.png"
                      ImageAlt="Cactus for sale 1"
                      CardTitle="Gymnocalycium <br /> Cactus"
                      CardPrice="$15" />

            <ShopCard ImagePath="images/shop-cactus-1.png"
                      ImageAlt="Cactus for sale 1"
                      CardTitle="Gymnocalycium <br /> Cactus"
                      CardPrice="$15" />
        </div>
    </section>

    <section class="care section" id="care">
        <CareSection />
    </section>

    <section class="contact section" id="contact">
        <ContactSection />
    </section>
</main>

<WebsiteFooter />

<ScrollUp />